{% extends '::base.html.twig' %}

{% block body %}
<body>
<div class="row">
    <div class="col-md-12">
        <h1>
            <tr>
                {#<th>Title</th>#}
                <td>{{ entity.title }}</td>
            </tr>
        </h1>
        <p>
            <tr>
                {# <th>Blog</th>#}
                <td>{{ entity.blog }}</td>
            </tr>
        </p>
        <small>
            <tr>
                <th>Тэги: </th>
                <td>{{ entity.tags }}</td>
            </tr>

            </br>


            <tr>
                <th>Автор: </th>
                <td>{{ entity.author }}</td>
            </tr>
            </br>
            <tr>
                <th>Опубликовано: </th>
                <td>{{ entity.created|date('d.m.y') }} в {{ entity.created|date('H:i') }}</td>
            </tr>
            </br>
            </br>
        </small>

        <ul class="record_actions">
            {#<li>
                <a href="{{ path('blog') }}">
                    Back to the list
                </a>
            </li>#}
<div>
                <div class="pull-left">
                <a href="{{ path('blog_edit', { 'id': entity.id }) }}" class="btn btn-default">
                    Редактировать
                </a>
                </div>


                <div class="pull-right">
                {{ form(delete_form) }}
                </div>
    </br>
    </br>
    </br>
</div>

        </ul>
    </div>
</div>
<section class="comments" id="comments">
    <section class="previous-comments">
        <h3>Комментарии</h3>
        {% include 'BlogBlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
    </section>
    <h3>Добавить комментарий</h3>

    {{ render(controller( 'BlogBlogBundle:Comment:new', { 'entity_id': entity.id } )) }}
</section>



</body>

{% endblock %}