{% extends '::base.html.twig' %}

{% block body %}
<body xmlns="http://www.w3.org/1999/html">
<div class="row">
    <div class="col-md-12">
        <h1>
            <tr>
                {#<th>Title</th>#}
                <td>{{ entity.title }}</td>
            </tr>
        </h1>
        <p>
            <tr>
                {# <th>Blog</th>#}
                <td>{{ entity.blog }}</td>
            </tr>
        </p>
        <small>
            <tr>
                <b><th>Тэги: </th></b>
                <td>{{ entity.tags }}</td>
            </tr>

            </br>
            <tr>
               <b><th>Опубликовано: </th></b>
                <td>{{ entity.created|date('d-m-Y') }}</td>
            </tr>
            </br>
            <tr>
               <b> <th>Автор: </th></b>
                <td>{{ entity.author }}</td>
            </tr>
            </br>
            </br>
        </small>

        <ul class="record_actions">
            {#<li>
                <a href="{{ path('blog') }}">
                    Back to the list
                </a>
            </li>#}
            <div class="col-md-2">
                <a href="{{ path('blog_edit', { 'id': entity.id }) }}">
                    Редактировать
                </a>

                </div>
            <div class="col-md-2 col-md-offset-1">
            <a>{{ form(delete_form) }}</a>
                </div>
        </ul>
    </div>
</div>




</body>

{% endblock %}