{% extends 'BlogBlogBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}Обратная связь{% endblock%}

{% block body %}
    <header xmlns="http://www.w3.org/1999/html">


    </header>

        {% for flashMessage in app.session.flashbag.get('blog-notice') %}
            <div class="blog-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-md-offset-1">
            <p>Возникли вопросы?</br> Мы незамедлительно на них ответим!</p>
            <form action="{{ path('BlogBlogBundle_contact') }}" method="post" {{ form_enctype(form) }} class="blog">
             {{ form_errors(form) }}

                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.subject) }}
                {{ form_row(form.body) }}

                {{ form_rest(form) }}
                <button type="submit" class="btn btn-default"/>
                <i class="fa fa-sign-in"></i> ОТПРАВИТЬ

                </button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>


{% endblock %}